<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Help Page {{name}}</title>
  </head>
  <body>
    {{> header}}
    <h1>{{age}} {{getUpper name}}</h1>
    <p>Some text here</p>

  </body>

</html>
